@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?24671060');
    src: url('../font/fontello.eot?24671060#iefix') format('embedded-opentype'), url('../font/fontello.woff?24671060') format('woff'), url('../font/fontello.ttf?24671060') format('truetype'), url('../font/fontello.svg?24671060#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24671060#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-plus:before {
    content: '\e816';
}
/* 'Ó ñ' */
.icon-minus:before {
    content: '\e819';
}
/* 'Ó ô' */
.icon-info:before {
    content: '\e81e';
}
/* 'Ó û' */
.icon-left-thin:before {
    content: '\e88c';
}
/* 'Ó¢å' */
.icon-up-thin:before {
    content: '\e88e';
}
/* 'Ó¢é' */
.icon-right-thin:before {
    content: '\e88d';
}
/* 'Ó¢ç' */
.icon-down-thin:before {
    content: '\e88b';
}
/* 'Ó¢ã' */
.icon-level-up:before {
    content: '\e893';
}
/* 'Ó¢ì' */
.icon-level-down:before {
    content: '\e892';
}
/* 'Ó¢í' */
.icon-switch:before {
    content: '\e896';
}
/* 'Ó¢ñ' */
.icon-infinity:before {
    content: '\e8cb';
}
/* 'Ó£ã' */
.icon-plus-squared:before {
    content: '\e818';
}
/* 'Ó ò' */
.icon-minus-squared:before {
    content: '\e81b';
}
/* 'Ó õ' */
.icon-home:before {
    content: '\e821';
}
/* 'Ó °' */
.icon-keyboard:before {
    content: '\e83a';
}
/* 'Ó ∫' */
.icon-erase:before {
    content: '\e90a';
}
/* 'Ó§ä' */
.icon-pause:before {
    content: '\e89f';
}
/* 'Ó¢ü' */
.icon-fast-forward:before {
    content: '\e89c';
}
/* 'Ó¢ú' */
.icon-fast-backward:before {
    content: '\e89d';
}
/* 'Ó¢ù' */
.icon-to-end:before {
    content: '\e89a';
}
/* 'Ó¢ö' */
.icon-to-start:before {
    content: '\e89b';
}
/* 'Ó¢õ' */
.icon-hourglass:before {
    content: '\e862';
}
/* 'Ó°¢' */
.icon-stop:before {
    content: '\e898';
}
/* 'Ó¢ò' */
.icon-up-dir:before {
    content: '\e886';
}
/* 'Ó¢Ü' */
.icon-play:before {
    content: '\e897';
}
/* 'Ó¢ó' */
.icon-right-dir:before {
    content: '\e885';
}
/* 'Ó¢Ö' */
.icon-down-dir:before {
    content: '\e883';
}
/* 'Ó¢É' */
.icon-left-dir:before {
    content: '\e884';
}
/* 'Ó¢Ñ' */
.icon-adjust:before {
    content: '\e867';
}
/* 'Ó°ß' */
.icon-cloud:before {
    content: '\e8ef';
}
/* 'Ó£Ø' */
.icon-star:before {
    content: '\e808';
}
/* 'Ó à' */
.icon-star-empty:before {
    content: '\e809';
}
/* 'Ó â' */
.icon-cup:before {
    content: '\e846';
}
/* 'Ó°Ü' */
.icon-menu:before {
    content: '\e811';
}
/* 'Ó ë' */
.icon-moon:before {
    content: '\e8ac';
}
/* 'Ó¢¨' */
.icon-heart-empty:before {
    content: '\e807';
}
/* 'Ó á' */
.icon-heart:before {
    content: '\e806';
}
/* 'Ó Ü' */
.icon-note:before {
    content: '\e800';
}
/* 'Ó Ä' */
.icon-note-beamed:before {
    content: '\e801';
}
/* 'Ó Å' */
.icon-layout:before {
    content: '\e810';
}
/* 'Ó ê' */
.icon-flag:before {
    content: '\e82a';
}
/* 'Ó ™' */
.icon-tools:before {
    content: '\e856';
}
/* 'Ó°ñ' */
.icon-cog:before {
    content: '\e855';
}
/* 'Ó°ï' */
.icon-attention:before {
    content: '\e83e';
}
/* 'Ó æ' */
.icon-flash:before {
    content: '\e8a1';
}
/* 'Ó¢°' */
.icon-record:before {
    content: '\e899';
}
/* 'Ó¢ô' */
.icon-cloud-thunder:before {
    content: '\e8d4';
}
/* 'Ó£î' */
.icon-tape:before {
    content: '\e8a2';
}
/* 'Ó¢¢' */
.icon-flight:before {
    content: '\e8af';
}
/* 'Ó¢Ø' */
.icon-mail:before {
    content: '\e805';
}
/* 'Ó Ö' */
.icon-pencil:before {
    content: '\e836';
}
/* 'Ó ∂' */
.icon-feather:before {
    content: '\e837';
}
/* 'Ó ∑' */
.icon-check:before {
    content: '\e812';
}
/* 'Ó í' */
.icon-cancel:before {
    content: '\e813';
}
/* 'Ó ì' */
.icon-cancel-circled:before {
    content: '\e814';
}
/* 'Ó î' */
.icon-cancel-squared:before {
    content: '\e815';
}
/* 'Ó ï' */
.icon-help:before {
    content: '\e81c';
}
/* 'Ó ú' */
.icon-quote:before {
    content: '\e833';
}
/* 'Ó ≥' */
.icon-plus-circled:before {
    content: '\e817';
}
/* 'Ó ó' */
.icon-minus-circled:before {
    content: '\e81a';
}
/* 'Ó ö' */
.icon-right:before {
    content: '\e881';
}
/* 'Ó¢Å' */
.icon-direction:before {
    content: '\e844';
}
/* 'Ó°Ñ' */
.icon-forward:before {
    content: '\e832';
}
/* 'Ó ≤' */
.icon-ccw:before {
    content: '\e88f';
}
/* 'Ó¢è' */
.icon-cw:before {
    content: '\e890';
}
/* 'Ó¢ê' */
.icon-left:before {
    content: '\e880';
}
/* 'Ó¢Ä' */
.icon-up:before {
    content: '\e882';
}
/* 'Ó¢Ç' */
.icon-down:before {
    content: '\e87f';
}
/* 'Ó°ø' */
.icon-list-add:before {
    content: '\e8e0';
}
/* 'Ó£ ' */
.icon-list:before {
    content: '\e8e1';
}
/* 'Ó£°' */
.icon-left-bold:before {
    content: '\e888';
}
/* 'Ó¢à' */
.icon-right-bold:before {
    content: '\e889';
}
/* 'Ó¢â' */
.icon-up-bold:before {
    content: '\e88a';
}
/* 'Ó¢ä' */
.icon-down-bold:before {
    content: '\e887';
}
/* 'Ó¢á' */
.icon-user-add:before {
    content: '\e80c';
}
/* 'Ó å' */
.icon-help-circled:before {
    content: '\e81d';
}
/* 'Ó ù' */
.icon-info-circled:before {
    content: '\e81f';
}
/* 'Ó ü' */
.icon-eye:before {
    content: '\e826';
}
/* 'Ó ¶' */
.icon-tag:before {
    content: '\e827';
}
/* 'Ó ß' */
.icon-upload-cloud:before {
    content: '\e82f';
}
/* 'Ó Ø' */
.icon-reply:before {
    content: '\e830';
}
/* 'Ó ∞' */
.icon-reply-all:before {
    content: '\e831';
}
/* 'Ó ±' */
.icon-code:before {
    content: '\e834';
}
/* 'Ó ¥' */
.icon-export:before {
    content: '\e835';
}
/* 'Ó µ' */
.icon-print:before {
    content: '\e838';
}
/* 'Ó ∏' */
.icon-retweet:before {
    content: '\e839';
}
/* 'Ó π' */
.icon-comment:before {
    content: '\e83b';
}
/* 'Ó ª' */
.icon-chat:before {
    content: '\e83c';
}
/* 'Ó º' */
.icon-vcard:before {
    content: '\e840';
}
/* 'Ó°Ä' */
.icon-address:before {
    content: '\e841';
}
/* 'Ó°Å' */
.icon-location:before {
    content: '\e842';
}
/* 'Ó°Ç' */
.icon-map:before {
    content: '\e843';
}
/* 'Ó°É' */
.icon-compass:before {
    content: '\e845';
}
/* 'Ó°Ö' */
.icon-trash:before {
    content: '\e847';
}
/* 'Ó°á' */
.icon-doc:before {
    content: '\e848';
}
/* 'Ó°à' */
.icon-doc-text-inv:before {
    content: '\e84c';
}
/* 'Ó°å' */
.icon-docs:before {
    content: '\e849';
}
/* 'Ó°â' */
.icon-doc-landscape:before {
    content: '\e84a';
}
/* 'Ó°ä' */
.icon-archive:before {
    content: '\e851';
}
/* 'Ó°ë' */
.icon-rss:before {
    content: '\e854';
}
/* 'Ó°î' */
.icon-share:before {
    content: '\e857';
}
/* 'Ó°ó' */
.icon-basket:before {
    content: '\e859';
}
/* 'Ó°ô' */
.icon-shareable:before {
    content: '\e858';
}
/* 'Ó°ò' */
.icon-login:before {
    content: '\e85c';
}
/* 'Ó°ú' */
.icon-logout:before {
    content: '\e85d';
}
/* 'Ó°ù' */
.icon-volume:before {
    content: '\e863';
}
/* 'Ó°£' */
.icon-resize-full:before {
    content: '\e869';
}
/* 'Ó°©' */
.icon-resize-small:before {
    content: '\e86a';
}
/* 'Ó°™' */
.icon-popup:before {
    content: '\e86b';
}
/* 'Ó°´' */
.icon-publish:before {
    content: '\e86c';
}
/* 'Ó°¨' */
.icon-window:before {
    content: '\e86d';
}
/* 'Ó°≠' */
.icon-arrow-combo:before {
    content: '\e86e';
}
/* 'Ó°Æ' */
.icon-chart-pie:before {
    content: '\e90e';
}
/* 'Ó§é' */
.icon-language:before {
    content: '\e8b0';
}
/* 'Ó¢∞' */
.icon-air:before {
    content: '\e8d7';
}
/* 'Ó£ó' */
.icon-database:before {
    content: '\e8f6';
}
/* 'Ó£∂' */
.icon-drive:before {
    content: '\e8c8';
}
/* 'Ó£à' */
.icon-bucket:before {
    content: '\e8e8';
}
/* 'Ó£®' */
.icon-thermometer:before {
    content: '\e8cc';
}
/* 'Ó£å' */
.icon-down-circled:before {
    content: '\e86f';
}
/* 'Ó°Ø' */
.icon-left-circled:before {
    content: '\e870';
}
/* 'Ó°∞' */
.icon-right-circled:before {
    content: '\e871';
}
/* 'Ó°±' */
.icon-up-circled:before {
    content: '\e872';
}
/* 'Ó°≤' */
.icon-down-open:before {
    content: '\e873';
}
/* 'Ó°≥' */
.icon-left-open:before {
    content: '\e874';
}
/* 'Ó°¥' */
.icon-right-open:before {
    content: '\e875';
}
/* 'Ó°µ' */
.icon-up-open:before {
    content: '\e876';
}
/* 'Ó°∂' */
.icon-down-open-mini:before {
    content: '\e877';
}
/* 'Ó°∑' */
.icon-left-open-mini:before {
    content: '\e878';
}
/* 'Ó°∏' */
.icon-right-open-mini:before {
    content: '\e879';
}
/* 'Ó°π' */
.icon-up-open-mini:before {
    content: '\e87a';
}
/* 'Ó°∫' */
.icon-down-open-big:before {
    content: '\e87b';
}
/* 'Ó°ª' */
.icon-left-open-big:before {
    content: '\e87c';
}
/* 'Ó°º' */
.icon-right-open-big:before {
    content: '\e87d';
}
/* 'Ó°Ω' */
.icon-up-open-big:before {
    content: '\e87e';
}
/* 'Ó°æ' */
.icon-progress-0:before {
    content: '\e89e';
}
/* 'Ó¢û' */
.icon-progress-1:before {
    content: '\e8a0';
}
/* 'Ó¢ ' */
.icon-progress-2:before {
    content: '\e8ad';
}
/* 'Ó¢≠' */
.icon-progress-3:before {
    content: '\e8ae';
}
/* 'Ó¢Æ' */
.icon-back-in-time:before {
    content: '\e8ec';
}
/* 'Ó£¨' */
.icon-network:before {
    content: '\e8eb';
}
/* 'Ó£´' */
.icon-inbox:before {
    content: '\e8ed';
}
/* 'Ó£≠' */
.icon-install:before {
    content: '\e90f';
}
/* 'Ó§è' */
.icon-lifebuoy:before {
    content: '\e8df';
}
/* 'Ó£ü' */
.icon-mouse:before {
    content: '\e8db';
}
/* 'Ó£õ' */
.icon-dot:before {
    content: '\e8c1';
}
/* 'Ó£Å' */
.icon-dot-2:before {
    content: '\e8ff';
}
/* 'Ó£ø' */
.icon-dot-3:before {
    content: '\e901';
}
/* 'Ó§Å' */
.icon-suitcase:before {
    content: '\e8bf';
}
/* 'Ó¢ø' */
.icon-flow-cascade:before {
    content: '\e8f4';
}
/* 'Ó£¥' */
.icon-flow-branch:before {
    content: '\e8d2';
}
/* 'Ó£í' */
.icon-flow-tree:before {
    content: '\e917';
}
/* 'Ó§ó' */
.icon-flow-line:before {
    content: '\e918';
}
/* 'Ó§ò' */
.icon-flow-parallel:before {
    content: '\e8a3';
}
/* 'Ó¢£' */
.icon-brush:before {
    content: '\e906';
}
/* 'Ó§Ü' */
.icon-paper-plane:before {
    content: '\e8b9';
}
/* 'Ó¢π' */
.icon-magnet:before {
    content: '\e8c9';
}
/* 'Ó£â' */
.icon-traffic-cone:before {
    content: '\e8b7';
}
/* 'Ó¢∑' */
.icon-cc:before {
    content: '\e8dd';
}
/* 'Ó£ù' */
.icon-cc-by:before {
    content: '\e8d6';
}
/* 'Ó£ñ' */
.icon-cc-nc:before {
    content: '\e8bd';
}
/* 'Ó¢Ω' */
.icon-cc-nc-eu:before {
    content: '\e8f7';
}
/* 'Ó£∑' */
.icon-cc-nc-jp:before {
    content: '\e8fd';
}
/* 'Ó£Ω' */
.icon-cc-sa:before {
    content: '\e8c3';
}
/* 'Ó£É' */
.icon-cc-nd:before {
    content: '\e8ea';
}
/* 'Ó£™' */
.icon-cc-pd:before {
    content: '\e8c7';
}
/* 'Ó£á' */
.icon-cc-zero:before {
    content: '\e8f5';
}
/* 'Ó£µ' */
.icon-cc-share:before {
    content: '\e909';
}
/* 'Ó§â' */
.icon-cc-remix:before {
    content: '\e8cd';
}
/* 'Ó£ç' */
.icon-github:before {
    content: '\e8ee';
}
/* 'Ó£Æ' */
.icon-github-circled:before {
    content: '\e8d1';
}
/* 'Ó£ë' */
.icon-flickr:before {
    content: '\e8f3';
}
/* 'Ó£≥' */
.icon-flickr-circled:before {
    content: '\e916';
}
/* 'Ó§ñ' */
.icon-vimeo:before {
    content: '\e919';
}
/* 'Ó§ô' */
.icon-vimeo-circled:before {
    content: '\e8a4';
}
/* 'Ó¢§' */
.icon-twitter:before {
    content: '\e8a9';
}
/* 'Ó¢©' */
.icon-twitter-circled:before {
    content: '\e8b1';
}
/* 'Ó¢±' */
.icon-facebook:before {
    content: '\e8b6';
}
/* 'Ó¢∂' */
.icon-facebook-circled:before {
    content: '\e8d5';
}
/* 'Ó£ï' */
.icon-facebook-squared:before {
    content: '\e8bc';
}
/* 'Ó¢º' */
.icon-gplus:before {
    content: '\e8f9';
}
/* 'Ó£π' */
.icon-gplus-circled:before {
    content: '\e8fa';
}
/* 'Ó£∫' */
.icon-pinterest:before {
    content: '\e8fc';
}
/* 'Ó£º' */
.icon-pinterest-circled:before {
    content: '\e8c4';
}
/* 'Ó£Ñ' */
.icon-tumblr:before {
    content: '\e8c6';
}
/* 'Ó£Ü' */
.icon-tumblr-circled:before {
    content: '\e902';
}
/* 'Ó§Ç' */
.icon-linkedin:before {
    content: '\e905';
}
/* 'Ó§Ö' */
.icon-linkedin-circled:before {
    content: '\e908';
}
/* 'Ó§à' */
.icon-dribbble:before {
    content: '\e8ce';
}
/* 'Ó£é' */
.icon-dribbble-circled:before {
    content: '\e8d0';
}
/* 'Ó£ê' */
.icon-stumbleupon:before {
    content: '\e90d';
}
/* 'Ó§ç' */
.icon-stumbleupon-circled:before {
    content: '\e912';
}
/* 'Ó§í' */
.icon-lastfm:before {
    content: '\e915';
}
/* 'Ó§ï' */
.icon-lastfm-circled:before {
    content: '\e91a';
}
/* 'Ó§ö' */
.icon-rdio:before {
    content: '\e8a5';
}
/* 'Ó¢•' */
.icon-rdio-circled:before {
    content: '\e8a8';
}
/* 'Ó¢®' */
.icon-spotify:before {
    content: '\e8b2';
}
/* 'Ó¢≤' */
.icon-spotify-circled:before {
    content: '\e8b5';
}
/* 'Ó¢µ' */
.icon-qq:before {
    content: '\e8bb';
}
/* 'Ó¢ª' */
.icon-instagram:before {
    content: '\e8e4';
}
/* 'Ó£§' */
.icon-dropbox:before {
    content: '\e8f8';
}
/* 'Ó£∏' */
.icon-evernote:before {
    content: '\e8fb';
}
/* 'Ó£ª' */
.icon-flattr:before {
    content: '\e8e6';
}
/* 'Ó£¶' */
.icon-skype:before {
    content: '\e8c5';
}
/* 'Ó£Ö' */
.icon-skype-circled:before {
    content: '\e8e7';
}
/* 'Ó£ß' */
.icon-renren:before {
    content: '\e903';
}
/* 'Ó§É' */
.icon-sina-weibo:before {
    content: '\e904';
}
/* 'Ó§Ñ' */
.icon-paypal:before {
    content: '\e8e9';
}
/* 'Ó£©' */
.icon-picasa:before {
    content: '\e8cf';
}
/* 'Ó£è' */
.icon-soundcloud:before {
    content: '\e8f0';
}
/* 'Ó£∞' */
.icon-mixi:before {
    content: '\e90c';
}
/* 'Ó§å' */
.icon-behance:before {
    content: '\e913';
}
/* 'Ó§ì' */
.icon-google-circles:before {
    content: '\e914';
}
/* 'Ó§î' */
.icon-vkontakte:before {
    content: '\e8f1';
}
/* 'Ó£±' */
.icon-smashing:before {
    content: '\e8a6';
}
/* 'Ó¢¶' */
.icon-db-shape:before {
    content: '\e8b3';
}
/* 'Ó¢≥' */
.icon-sweden:before {
    content: '\e8a7';
}
/* 'Ó¢ß' */
.icon-logo-db:before {
    content: '\e8b4';
}
/* 'Ó¢¥' */
.icon-picture:before {
    content: '\e80e';
}
/* 'Ó é' */
.icon-globe:before {
    content: '\e910';
}
/* 'Ó§ê' */
.icon-leaf:before {
    content: '\e8e3';
}
/* 'Ó££' */
.icon-graduation-cap:before {
    content: '\e8ab';
}
/* 'Ó¢´' */
.icon-mic:before {
    content: '\e85e';
}
/* 'Ó°û' */
.icon-palette:before {
    content: '\e8e2';
}
/* 'Ó£¢' */
.icon-ticket:before {
    content: '\e8b8';
}
/* 'Ó¢∏' */
.icon-video:before {
    content: '\e80d';
}
/* 'Ó ç' */
.icon-target:before {
    content: '\e8ba';
}
/* 'Ó¢∫' */
.icon-music:before {
    content: '\e802';
}
/* 'Ó Ç' */
.icon-trophy:before {
    content: '\e8d9';
}
/* 'Ó£ô' */
.icon-thumbs-up:before {
    content: '\e82b';
}
/* 'Ó ´' */
.icon-thumbs-down:before {
    content: '\e82c';
}
/* 'Ó ¨' */
.icon-bag:before {
    content: '\e85a';
}
/* 'Ó°ö' */
.icon-user:before {
    content: '\e80a';
}
/* 'Ó ä' */
.icon-users:before {
    content: '\e80b';
}
/* 'Ó ã' */
.icon-lamp:before {
    content: '\e864';
}
/* 'Ó°§' */
.icon-alert:before {
    content: '\e83f';
}
/* 'Ó ø' */
.icon-water:before {
    content: '\e8de';
}
/* 'Ó£û' */
.icon-droplet:before {
    content: '\e8dc';
}
/* 'Ó£ú' */
.icon-credit-card:before {
    content: '\e8be';
}
/* 'Ó¢æ' */
.icon-monitor:before {
    content: '\e900';
}
/* 'Ó§Ä' */
.icon-briefcase:before {
    content: '\e8d8';
}
/* 'Ó£ò' */
.icon-floppy:before {
    content: '\e8e5';
}
/* 'Ó£•' */
.icon-cd:before {
    content: '\e8ca';
}
/* 'Ó£ä' */
.icon-folder:before {
    content: '\e850';
}
/* 'Ó°ê' */
.icon-doc-text:before {
    content: '\e84b';
}
/* 'Ó°ã' */
.icon-calendar:before {
    content: '\e85b';
}
/* 'Ó°õ' */
.icon-chart-line:before {
    content: '\e911';
}
/* 'Ó§ë' */
.icon-chart-bar:before {
    content: '\e8d3';
}
/* 'Ó£ì' */
.icon-clipboard:before {
    content: '\e8c2';
}
/* 'Ó£Ç' */
.icon-attach:before {
    content: '\e823';
}
/* 'Ó £' */
.icon-bookmarks:before {
    content: '\e829';
}
/* 'Ó ©' */
.icon-book:before {
    content: '\e84f';
}
/* 'Ó°è' */
.icon-book-open:before {
    content: '\e84e';
}
/* 'Ó°é' */
.icon-phone:before {
    content: '\e853';
}
/* 'Ó°ì' */
.icon-megaphone:before {
    content: '\e8fe';
}
/* 'Ó£æ' */
.icon-upload:before {
    content: '\e82e';
}
/* 'Ó Æ' */
.icon-download:before {
    content: '\e82d';
}
/* 'Ó ≠' */
.icon-box:before {
    content: '\e852';
}
/* 'Ó°í' */
.icon-newspaper:before {
    content: '\e84d';
}
/* 'Ó°ç' */
.icon-mobile:before {
    content: '\e907';
}
/* 'Ó§á' */
.icon-signal:before {
    content: '\e8da';
}
/* 'Ó£ö' */
.icon-camera:before {
    content: '\e80f';
}
/* 'Ó è' */
.icon-shuffle:before {
    content: '\e894';
}
/* 'Ó¢î' */
.icon-loop:before {
    content: '\e895';
}
/* 'Ó¢ï' */
.icon-arrows-ccw:before {
    content: '\e891';
}
/* 'Ó¢ë' */
.icon-light-down:before {
    content: '\e865';
}
/* 'Ó°•' */
.icon-light-up:before {
    content: '\e866';
}
/* 'Ó°¶' */
.icon-mute:before {
    content: '\e85f';
}
/* 'Ó°ü' */
.icon-sound:before {
    content: '\e860';
}
/* 'Ó° ' */
.icon-battery:before {
    content: '\e8c0';
}
/* 'Ó£Ä' */
.icon-search:before {
    content: '\e803';
}
/* 'Ó É' */
.icon-key:before {
    content: '\e90b';
}
/* 'Ó§ã' */
.icon-lock:before {
    content: '\e824';
}
/* 'Ó §' */
.icon-lock-open:before {
    content: '\e825';
}
/* 'Ó •' */
.icon-bell:before {
    content: '\e83d';
}
/* 'Ó Ω' */
.icon-bookmark:before {
    content: '\e828';
}
/* 'Ó ®' */
.icon-link:before {
    content: '\e822';
}
/* 'Ó ¢' */
.icon-back:before {
    content: '\e820';
}
/* 'Ó  ' */
.icon-flashlight:before {
    content: '\e804';
}
/* 'Ó Ñ' */
.icon-chart-area:before {
    content: '\e8f2';
}
/* 'Ó£≤' */
.icon-clock:before {
    content: '\e861';
}
/* 'Ó°°' */
.icon-rocket:before {
    content: '\e8aa';
}
/* 'Ó¢™' */
.icon-block:before {
    content: '\e868';
}
/* 'Ó°®' */
