{% extends 'base.html' %}
{% load i18n %}


{% block page_title %}{{ snake.s_name }} {{ snake.mutation }}{% endblock %}


{% block content %}
<section id="spuppie">
	
	<!-- begin Our Puppies -->
	<article>
	<div class="container">

		<div class="row">
			<div class="col-xs-12"><h2 class="header">{% trans 'Nos serpents' %}</h2></div>
		</div>

		<div class="row">
			<div class="title">
				<div class="centered"><div><h2>{{ snake.s_name }} {{ snake.mutation }}</h2></div></div>
                <p>
                    {% blocktrans with sex=snake.get_sex_display  birthday=snake.birthday %}
                        {{ sex }} né le {{ birthday }}.
                    {% endblocktrans %}
                </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-9">
				<div id="carousel-puppie" class="carousel slide" data-ride="carousel" data-interval="false">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
                        {% for img in snake.snakesg.all %}
						    <div class="item {% if forloop.first %}active{% endif %}">
							    <img src="{{ img.image.url }}" alt="{{ snake.s_name}} {{ snake.mutation }}" />
						    </div>
                        {% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-12">
					
				<p>{{ snake.informations }}</p>
				<ul class="features">
					<li><strong>{% trans 'Reproducteur' %}:</strong>{{ snake.parent_m|default:"Inconnu" }}</li>
					<li><strong>{% trans 'Reproductrice' %}:</strong>{{ snake.parent_f|default:"Inconnu" }}</li>
                    {% if snake.for_sale %}
					    <li><strong>{% trans 'Prix' %}:</strong><span class="price">CHF {{ snake.sale_price }}</span></li>
                        {% if snake.price_cpl %}<li><strong>{% trans 'Prix de couple' %}:</strong><span class="price">CHF {{ snake.price_cpl }}</span></li> {% endif %}
                        {% if snake.flex_price %}<li><strong>{% trans 'Prix négociable!' %}</strong></li>{% endif %}
                    {% endif %}
				</ul>
				
				</div>
				<div class="col-xs-12 col-sm-6 col-md-12">

				<div id="carousel-thumb-puppie" class="carousel slide" data-ride="carousel" data-interval="false">
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<ol>
                            {% for img in snake.snakesg.all %}
							    <li data-target="#carousel-puppie" data-slide-to="{{ img.pk }}" class="active thumb"><img src="{{ img.image.url }}" alt="{{ snake.s_name}} {{ snake.mutation }}" /></li>
                            {% endfor %}
						</ol>
					</div>
					<div class="item">
						<ol>
                            {% for img in snake.snakesg.all %}
							    <li data-target="#carousel-puppie" data-slide-to="{{ img.pk }}" class="active thumb"><img src="{{ img.image.url }}" alt="{{ snake.s_name}} {{ snake.mutation }}" /></li>
                            {% endfor %}
						</ol>
					</div>
				</div>

				<!-- Controls -->
				<div class="controls">
					<a class="left carousel-control" href="#carousel-thumb-puppie" data-slide="prev">
						<i class="icon-left-open"></i>
					</a>
					<span clasS="more-img">{% trans 'Voir d\'autres images' %}</span>
					<a class="right carousel-control" href="#carousel-thumb-puppie" data-slide="next">
						<i class="icon-right-open"></i>
					</a>
				</div>
				</div>

				</div>
				</div>
				
			</div>
		 </div>
	</div>
	</article>
    </section>

{% endblock %}